<div class="background">
  <div class="container">
    <img src="assets/logos/library.png" class="col" width="850px" height="200px">


      <div class="col-10">
        <div class="button-container">
          <button type="button" class="btn btn-primary" (click)="openModal()">+ New book</button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books">
              <th scope="row">{{ book.id }}</th>
              <th scope="row">{{ book.attributes.title }}</th>
              <th scope="row">{{ book.attributes.author }}</th>
              <th scope="row" *ngIf="book.attributes.borrowed == true; else elseth" style="color: brown;">Borrowed</th>
              <ng-template #elseth><th scope="row" style="color: green;">In the library</th></ng-template>
              <th><button 
                type="button" 
                class="btn btn-danger" 
                (click)="deleteBook(book.id)" 
                style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">Delete</button>
                <button 
                type="button" 
                class="btn btn-primary" 
                (click)="changeStatusBook(book.id, book.attributes.borrowed)" 
                style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">Change Status</button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>