<script src="bootstrap.min.js"></script>
<div class="background">
  <div class="container">
    <div class="row">
      <div class="col">
      </div>


      <div class="col-10">
        <div class="button-container">
          <button type="button" class="btn btn-primary" (click)="openModal()">+ New book</button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">State</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books">
              <th scope="row">{{ book.id }}</th>
              <th scope="row">{{ book.attributes.title }}</th>
              <th scope="row">{{ book.attributes.author }}</th>
              <th scope="row">{{ book.attributes.borrowed }}</th>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col">
      </div>
    </div>
  </div>
</div>